<div class="container mt-5 mb-5">
  <h3>Category List</h3>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td>
              <%= link_to "Show", category_path(category), class: "btn btn-secondary" %>
              <%= link_to "Edit", edit_category_path(category), class: "btn btn-primary" %>
              <%= link_to "Destroy", category_path(category), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
