<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-8 mx-md-auto">
      <h3>Add Category</h3>
      <div class="card">
        <div class="card-body">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
