<nav class="navbar navbar-expand-lg mb-0 border-bottom">
  <a class="navbar-brand text-dark" href="/"><i>Guitar</i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link text-dark" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="javascript:void(0)">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="javascript:void(0)">Contact Us</a>
      </li>
      <li>
      	<% if user_signed_in? %>
      	  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link text-dark"  %>
      	<% else %>
      	  <%= link_to "Sign In", new_user_session_path, class: "nav-link text-dark" %>
      	<% end %>
      </li>
    </ul>
  </div>
</nav>
<style type="text/css">
  .pointer {
    cursor: pointer;
  }
</style>
